@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

.docs__content {
  display: flex;
  flex-grow: 1;
  max-width: calc(100% - 200px);
  color: #3f3f3f;
  flex-direction: column;
  align-items: left;
  text-align: left;
  margin: 0 auto;
  padding-top: 4rem;
  
}

h2 {
  font-size: 48px;
  width: 100%;
  margin-bottom: 12px;
}

h3 {
  font-size: 36px;
  width: 100%;
  margin-bottom: 12px;
  color: #0f1730;
}
h3::after {
  background: hsla(0, 0%, 56.5%, 0.5);
  content: "";
  display: block;
  height: 1.5px;
  margin: 20px 0px;
  
}
hr {
  height: 1.5px;
  width: 100%;
}
p {
  /* display: inline; */
  font-size: 18px;
  /* margin-bottom: 18px; */
  line-height: 1.5rem;
  color: rgb(80, 80, 80);
  /* display: inline-block; */
}
p > a {
  display:inline;
}
.gif {
  max-width: 700px;
  max-height: 600px;
  padding: 0 2em;
  width:100%;
  height: auto;
  border-radius: 2px;
  /* box-shadow: 2px 4px 5px rgba(52, 73, 94, 0.4); */
  object-fit: contain;
}

.desc {
 
  margin: 2em 0;
}
.horiz {
  color: hsla(0,0%,56.5%,0.5);
  content: "";
  display: block;
  height: 1.5px;
  margin: 20px 0px;
}


@media screen and (min-width: 1500px) {
  .desc {
    display: flex;
    flex-direction: row;
  }
}

.saveImport{
  margin-right: 110px;
}