.docs__content {
  display: flex;
  flex-grow: 1;
  max-width: calc(100% - 200px);
  color: #3f3f3f;
  flex-direction: column;
  align-items: center;
  text-align: left;
  margin: 0 auto;
  /* padding: 0 0.8rem; */
  padding-top: 4rem;
  
}

h2 {
  font-size: 48px;
  width: 100%;
  margin-bottom: 12px;
}

h3 {
  font-size: 36px;
  width: 100%;
  margin-bottom: 12px;
  color: #0f1730;
}
h3::after {
  background: hsla(0, 0%, 56.5%, 0.5);
  content: "";
  display: block;
  height: 1.5px;
  margin: 20px 0px;
  
}
hr {
  height: 1.5px;
  width: 100%;
}
p {
  font-size: 18px;
  /* margin-bottom: 18px; */
  line-height: 1.5rem;
  color: rgb(80, 80, 80);
}

li {

}

.gif {
  max-width: 700px;
  padding: 0 2em;
  width:100%;
  height: auto;
  border-radius: 2px;
  /* box-shadow: 2px 4px 5px rgba(52, 73, 94, 0.4); */
  object-fit: contain;
}

.desc {
  display: flex;
  margin: 2em 0;
}
.horiz {
  color: hsla(0,0%,56.5%,0.5);
  content: "";
  display: block;
  height: 1.5px;
  margin: 20px 0px;
}