@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

.team-h2 {
  font-family: 'Inter', sans-serif;;
  font-weight: 700;
  padding-top: 48px;
  font-size: 48px;
  max-width: 80%;
  color: white;
  /* align-items:flex-start; */
}

.team-h3 {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  max-width: 80%;
  margin-bottom: 12px;
  color: white;
  font-weight: 300;
  
}

.team-h4 {
  font-family: 'Inter', sans-serif;
  font-size: 36px;
  width: 80%;
  margin-bottom: 12px;
  color: white;
  font-weight: 300;
}

.team-h5 {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 20px;
  width: 80%;
  margin-bottom: 12px;
  color: white;
  font-weight: 300;
}

.team-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  justify-content: center;
  max-width: 100%;
}
.orderDevCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width:90%;
}