.nav {
  display: flex;
  justify-content: space-between;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 1fr;
  padding: 16px 16px 16px 16px;
  align-items: center;
  z-index: 999;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  font-family: 'Mukta', sans-serif;
  border-bottom: 1px solid #0e162f;
  /* background-color: rgb(50, 56, 72); */
  background-color: white;
}

.nav_logo {
  /* width: 100%; */
  max-width: 100em;
}

.nav_logo img {
  width: 100%;
}

.overVue_logo {
  height: 2em;
  width: 2em;
  margin-right: 12px;
}

.nav_actions {
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 300px;
  color: #0e162f;
  justify-content: space-between;
}

.nav_docs,
.nav_ourTeam {
  font-weight: 350px;
  text-decoration: none;
  /* color: #0e162f; */
  color: black;
  padding-right: 8px;
}

.github_button{
  margin-right: 15px;
}

.github_button,
.nav_docs,
.nav_ourTeam,
.nav_logo {
  transition: all .2s ease-in-out;
  height: 3em;
  padding: 5px;
  /* border-style: solid; */
  /* border-width: 1px; */
  /* border-radius: 10px; */
}


.nav_logo:hover,
.github_button:hover,
.nav_docs:hover,
.nav_ourTeam:hover {
  transform: scale(1.05);
  color: #7ad8ae;
}

.github_logo {
    height: 2em;
    width: 2em;
    border-radius: 50%;
}

a {
  font-weight: 350px;
  text-decoration: none;
  align-items: center;
  display: flex;
  flex-direction: row;
  color: #0e162f;
}
