@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 3em;
  padding: 12px;
  z-index: 999;
  font-family: 'Inter', sans-serif;
  /* background-color: white; */
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.199);
  color: #0e162f;
}

/* .nav_logo {
  max-width: 100em;
  align-self: center;
} */

/* .nav_logo img {
  width: 100%;
} */

.overVue_logo {
  height: 2em;
  width: 2em;
  margin-right: 12px;
}

.nav_actions {
  align-items: center;
  display: flex;
  flex-direction: row;
  /* width: 300px; */
  color: #0f1730;
  justify-content: space-between;
  gap: 3.5em;
}

.nav_docs,
.nav_ourTeam {
  font-weight: 350;
  text-decoration: none;
  color: #0f1730;
  padding-right: 8px;
}

.github_button{
  margin-right: 15px;
}

.github_button,
.nav_docs,
.nav_ourTeam,
.nav_logo,
.nav_blog {
  transition: all .2s ease-in-out;
  height: 1em;
  padding: 5px;
  font-size: 17px;
  font-weight: 550;
}



.nav_logo:hover,
.github_button:hover,
.nav_docs:hover,
.nav_ourTeam:hover,
.nav_blog:hover {
  transform: scale(1.05);
  color: #0d3f28;
}

.github_logo {
    height: 2em;
    width: 2em;
    border-radius: 50%;
}
a {
  font-weight: 350px;
  text-decoration: none;
  align-items: center;
  display: flex;
  flex-direction: row;
  color: #0e162f;
}

.nav .ham-btn {
  display: none;
}

.nav #hidden {
  display: flex;

}

@media only screen and (max-width: 650px) {
  .nav .ham-btn {
    display: flex;
  }

  .nav_actions .nav_docs,
  .nav_actions .nav_ourTeam,
  .nav_actions .github_button,
  .nav_actions .nav_blog {
    display: none;
  }


  .nav #hidden {
    position: absolute;
    left: 0px;
    top: 40px;
    height: 120px;
    max-height: 230px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 25px;
    padding-bottom: 100px;
    transform: translateY(10px);
    transition:transform 0.3s ease-in-out;
    border: 1px solid lightgrey;
  }

  .nav #hidden .nav_logo {
    align-self: center;
  }

  .nav_actions {
    gap: 0em;
  }

  .nav #hidden .nav_docs,
  .nav #hidden .nav_ourTeam,
  .nav #hidden .nav_blog {
    display: inline;
    margin: 5px;
    /* margin: 0px; */
    /* color: black; */
    /* justify-content: space-between; */
    /* align-self: center; */
  }
}