@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

.docs__layout {
  max-width: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  font-family: 'Inter', sans-serif;
}

.docs__body {
  width: 100vw;
  display: grid;
  grid-template-columns: 300px 1fr;
  padding-top: 36px;
  margin-top: 0px;
  color: #0f1730;
}

.docs__body li, .docs__body p {
  margin-bottom: 18px;
}

